.navigation{
    height: 100vh;
    width: 260px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-logo{
    height: 97px;
    width: 87%;
}
.nav-logo img{
    margin-top: 33px;
    margin-left: 15px;
    width: 130px;
}
.container{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.section{
    display: flex;
    align-items: baseline;
    border-radius: 0.5rem;
    height: 30px;
    width: 95%;
    font-size: small;
}
.section:hover{
    background-color: rgba(255, 255, 255, 0.485);
}
.section img{
    margin-left: 15px;
    margin-right: 20px;
    height: 32px;
    width: 32px;
}
.container > :nth-child(6) img {
    border-radius: 1rem;
}

