.navigation{
    height: 100vh;
    border: 1px solid white;
    /* change up the wt in the end */
    width: 200px;
}
.nav-logo{
    height: 100px;
    margin-left: 20px;
}
.nav-logo img{
    margin-top: -25px;
}
.container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.129);
}
.section{
    display: flex;
    align-items: baseline;
    border-radius: 0.5rem;
    height: 30px;
    width: 95%;
    font-size: small;
}
.section:hover{
    background-color: rgba(255, 255, 255, 0.485);
}
.section img{
    margin-left: 10px;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}

